:root{
    --mainColor:#ce1126;
    --secondaryColor:#FC6058;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#bf3832;

	--buttonColor:#e33229;
}